TITANIC

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [2]:
%cd C:\Users\suraj\Documents\Titanic

C:\Users\suraj\Documents\Titanic

In [3]:
train = pd.read_csv("train.csv")

In [4]:
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train.isna().sum()/len(train)

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [6]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
train["Family"] = train["Parch"]+train["SibSp"]+1

In [8]:
train = train.drop(["PassengerId","Cabin","Ticket","SibSp","Name","Parch"],axis=1)

In [9]:
train.head(6)

   Survived  Pclass     Sex   Age     Fare Embarked  Family
0         0       3    male  22.0   7.2500        S       2
1         1       1  female  38.0  71.2833        C       2
2         1       3  female  26.0   7.9250        S       1
3         1       1  female  35.0  53.1000        S       2
4         0       3    male  35.0   8.0500        S       1
5         0       3    male   NaN   8.4583        Q       1

In [10]:
train["Age"].fillna(train.Age.mean(),inplace = True)

In [11]:
train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [12]:
train.Embarked.fillna("S",inplace=True)

In [13]:
train.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
Embarked    0
Family      0
dtype: int64

In [23]:
train.loc[:,["Pclass","Sex","Embarked"]] = train.loc[:,["Pclass","Sex","Embarked"]].astype('category')

In [25]:
train.dtypes

Survived       int64
Pclass      category
Sex         category
Age          float64
Fare         float64
Embarked    category
Family         int64
dtype: object

In [28]:
train = pd.get_dummies(data=train,columns=["Pclass","Sex","Embarked"],drop_first=True)

In [29]:
train.head()

,Survived,Age,Fare,Family,Pclass_2,Pclass_3,Sex_male,Embarked_Q,Embarked_S
0,0,22.0,7.2500,2,0,1,1,0,1
1,1,38.0,71.2833,2,0,0,0,0,0
2,1,26.0,7.9250,1,0,1,0,0,1
3,1,35.0,53.1000,2,0,0,0,0,1
4,0,35.0,8.0500,1,0,1,1,0,1

In [32]:
y = train["Survived"]

In [33]:
X = train.drop("Survived",axis = 1)

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1912)

In [35]:
from sklearn.linear_model import LogisticRegression

In [38]:
lr = LogisticRegression(n_jobs=-1)

In [39]:
lr.fit(X_train,y_train)

C:\Users\suraj\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1228: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = -1.
  " = {}.".format(self.n_jobs))

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=-1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [41]:
lr_pred = lr.predict(X_test)

In [42]:
from sklearn.metrics import accuracy_score

In [43]:
accuracy_score(y_test,lr_pred)

0.8246268656716418

In [44]:
from sklearn.svm import SVC

In [46]:
svc = SVC()

In [47]:
svc

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [48]:
svc.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [49]:
SVC_pred = svc.predict(X_test)

In [50]:
SVC_pred

array([0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0], dtype=int64)

In [51]:
accuracy_score(SVC_pred,y_test)

0.7276119402985075

In [52]:
from sklearn.tree import DecisionTreeClassifier

In [53]:
Dtc = DecisionTreeClassifier()

In [54]:
Dtc.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [56]:
dtc_pred = Dtc.predict(X_test)

In [57]:
accuracy_score(dtc_pred,y_test)

0.7873134328358209

In [63]:
stack = np.array([lr_pred,dtc_pred,SVC_pred]).T

In [64]:
from scipy.stats import mode

In [65]:
stack_pred = mode(stack,axis=1)[0]

In [66]:
accuracy_score(stack_pred,y_test)

0.835820895522388

In [67]:
from sklearn.ensemble import AdaBoostClassifier

In [68]:
Ada = AdaBoostClassifier()

In [69]:
from sklearn.model_selection import GridSearchCV

In [70]:
Ada

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [72]:
param_grid = {"learning_rate":[0.1,0.25,0.5,1,2],
             "n_estimators":[10,20,30,40,50,100,200]}

In [73]:
ADA_cv = GridSearchCV(Ada,param_grid,cv = 7,n_jobs=-1)

In [74]:
ADA_cv.fit(X_train,y_train)

GridSearchCV(cv=7, error_score='raise',
       estimator=AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'learning_rate': [0.1, 0.25, 0.5, 1, 2], 'n_estimators': [10, 20, 30, 40, 50, 100, 200]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [75]:
print(ADA_cv.best_params_,ADA_cv.best_score_)

{'learning_rate': 0.1, 'n_estimators': 50} 0.8025682182985554